/* Tema claro (default) */
body {
  background: #fff;
  color: #000;

}


/* Tema oscuro a {
  color: #4bffea; 
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}*/
body.dark-mode {
  background: #121212;
  color: #f1f1f1;
    a:hover {
      text-shadow: #ffffff 0 0 5px;
      color: #11c6f8;/* color más oscuro */
    }
    .social-media {
      filter: brightness(0) invert(1);
    }
}

a:hover {
  text-shadow: #4bffea 0 0 5px;
color: #0018cd;/* color más oscuro */
}
button:hover {
  background-color: black; 
  color: white;/* color más oscuro */
  transition: background-color 0.5s ease;
  
}