/* Tema claro (default) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  border: 1px  red;

}

body {
  
  background: #e6e6e6;
  color: #000;
  
  
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 4;
  border-bottom: 1px solid #000;
  box-shadow: #000000 0px 8px 25px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px  #000;

}


.logo {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
  color: #026b42;
  margin-right: auto;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: #014229;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.product {

  max-width: 100%;
  max-height: 50%;
  position: relative;
}
#hero {
  display: flex;
  position: relative;
  
}
.nombre-producto {
  position: absolute;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 2%;
  z-index: 2;
  box-shadow: #000000 0px 0px 40px;
}
  .h1{
    display: flex;
    top: 25%;
    right: 0px;
    font-size: 3.3vw;/*2.65rem;*/
    font-weight: bold;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    text-align: left;

  }
  .p{
    top: 65%;
    right: 0px;
    font-size:1.5vw; /*1.2rem;*/
  }
  .boton_whatsapp{
    position: fixed;
    width: 8vw;
    height: 8vw;
    top: 78%;
    right: 90%;
    z-index: 2;
    filter: drop-shadow( #000000 3px 5px 10px);
  }
  .comprar-btn{
    position: absolute;
    z-index: 3;
    top: 77%;
    right: 0px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #026b42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #000000 0px 0px 20px;
    transition: background-color 0.3s ease;
  }
main article {
  width: 100%;
  color: #014229;
  margin-bottom: 50px;
  margin-top: 4vw;
  
}
main article h2{
  font-size: 2rem;
  margin-bottom: 3vw;
  padding: 15px;
  

  
}

.caracteristicas-list {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
  
  gap: 50px;
}
.caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #e6e6e6;
} 
.faq{
  width: 100%;
  padding: 50px;
  background-color:#062318;
  color: white;
  display: flex;
  flex-direction: column;
  gap : 15px;
  text-align: left;
}
.enlaces-relacionados{
  margin-top: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f1;
  border: 1px solid #000;
  box-shadow: #000000 0px 2px 5px;

}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.galeria img {
  width: 200px;
  height: auto;
}

footer{
  display: block;
  text-align: center;
  padding: 10px;  
  background-color: #f0f0f0;
  margin-top: 20px;
  border-top: 1px solid #000;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
/* Tema oscuro*/
body.dark-mode {
  background: #121212;
  color: #f1f1f1;
    a:hover {
      text-shadow: #ffffff 0 0 5px;
      color: #11c6f8;/* color más oscuro */
    }
    .social-media {
      filter: brightness(0) invert(1);
    }
}

a:hover {
  font-size: 1.3rem;
  text-shadow:#34e29f 0 0 5px;
  color: #01ab4b;/* color más oscuro */
}
button:hover {
  background-color: black; 
  color: white;/* color más oscuro */
  transition: background-color 0.5s ease;
  
}
.boton_whatsapp:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.foto:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: #04280c 0 0 10px;
}

@media (max-width: 900px) {

}

@media (max-width: 480px){

  }
  .logo {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  color: #026b42;
  margin-right: auto;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: #014229;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

